.external_framework {
  position: relative;
  top: 8%;
  left: 23%;
  border: 3px double #6495ED;
  background-color: #6495ED;
  width: 850px;
  height: auto;
}

.framework {
  position: relative;
  top: 0.33%;
  left: 0.33%;
  border: 3px double #FFFFFF;
  background-color: #FFFFFF;
  width: 850px;
  height: auto;
}

.resume {
  width: 800px;
  height: 210px;
  display: flex;
  margin: 5px auto;
}

.resume .resume_left {
  width: 180px;
  background: #FFFFFF;
}

.resume .resume_right {
  width: 620px;
  background: #fff;
  padding: 15px;
}

.about {
  float: left;
  margin-top: 0px;
  padding-left: 0px;
  height: auto;
  width: 99%;
}

.circle {
  position: relative;
  top: 7%;
  left: 7%;
  background-color: #FFFFFF;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

img {
  border-radius: 50%;
}


.education_training {
  position: relative;
  top: 1%;
  left: 1%;
}

.digital_skills {
  position: relative;
  top: 1%;
  left: 1%;
}

.project {
  position: relative;
  top: 1%;
  left: 1%;
}

.language_skills {
  position: relative;
  top: 1%;
  left: 1%;
}

.volunteering {
  position: relative;
  top: 1%;
  left: 1%;
}

h2 {
  position: relative;
  left: 30;
  font-family: "Candara";
  font-weight: bold;
  color: #6495ED;
  font-size: 28;
}

h7 {
  font-family: "Candara";
  color: #0000FF;
  font-size: 14;
}

h8{
  font-family: "Candara";
  color: #9400D3;
  font-size: 14;
}

p {
  position: relative;
  left: 35;
  font-family: "Candara";
  font-weight: bold;
  color: #303030;
  font-size: 14;
}

table {
  position: relative;
  top: 5%;
  left: 4%;
  font-family: "Candara";
  font-size: 16px;
  background-color: #FFFFFF;
  text-align: center;
  font-style: bold;
  border-collapse: collapse;
}

th {
  width: 110px;
  border: 2px solid #191970;
  background-color: #6495ED;
  color: white;
}

td {
  width: 110px;
  border: 2px solid #191970;
  background-color: #B0E0E6;
  color: #191970;
}

